/* Authors: Justin Blankenship, Kaitlin Porter, Michael Parker, Dahquan Williams
CSCI 334 Final : A Full Stack Application */

html, body {
   width: 100%;
   height: 100%;
}

/* scroll arrows for carousel */
.arrows {
   cursor: pointer;
   width:100%;
}

/* google map*/
.maps {
   width: 100%;
   height: 450px;
}

/* top patterns sample images */
.sampleImages {
   width:100%;
}

/* carousel photos */
.slideshow {
   width: 100%;
   min-height: 350px;
   max-height: 600px;
}

/* team pictures */
.crewPics {
   width: 45%;
}

/* titles for sample patterns */
.miniHeader {
   font-weight:bold;
   text-align:center;
}

/* back to top button on all pages */
.topper {
   position:relative;
   bottom:100px;
   z-index:1;
}

/*view top patterns button*/
.popular {
   position:absolute;
   top:-28px;
   right:24px
}

/*view top patterns button container*/
.popularContainer {
   position:relative;
}

/* side links inside the view top patterns button */
.sidelinks {
   display:none;
   z-index:2
}

/* main cat logo on all pages */
.logo {
   width:100%;
   max-height:25px;
   max-width:35px;
}

/* images for main design selections */
.designImages {
   width:100%;
   max-width:200px;
   max-height:230px;
}

/* design for displaying patterns */

.patternDisplay {
   min-height: 200px;
   display: block;
   background-position: center;
   background-size: 180%;
   overflow: auto;
}