/* Authors: Justin Blankinship, Kaitlin Porter, Michael Parker, Dahquan Williams
CSCI 334 Final : A Full Stack Application */

html, body {
   width: 100%;
   height: 100%;
}

/* scroll arrows for carousel */
.arrows {
   cursor: pointer;
   width:100%;
}

/* google map*/
.maps {
   width: 100%;
   height: 450px;
}

/* top patterns sample images */
.sampleImages {
   width:100%;
}

/* carousel photos */
.slideshow {
   width: 100%;
   min-height: 350px;
   max-height: 600px;
}

/* team pictures */
.crewPics {
   width: 45%;
}

/* titles for sample patterns */
.miniHeader {
   font-weight:bold;
   text-align:center;
}

/* back to top button on all pages */
.topper {
   position:relative;
   bottom:100px;
   z-index:1;
}

/*view top patterns button*/
.popular {
   position:absolute;
   top:-28px;
   right:24px
}

/*view top patterns button container*/
.popularContainer {
   position:relative;
}

/* side links inside the view top patterns button */
.sidelinks {
   display:none;
   z-index:2
}

/* main cat logo on all pages */
.logo {
   width:100%;
   max-height:25px;
   max-width:35px;
}

/* images for main design selections */
.designImages {
   width:100%;
   max-width:200px;
   max-height:230px;
}

#display {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 10;
   background-color: RGBA(0, 0, 0, 0.3);
   display: none;
}

/* design for displaying patterns */

.patternDisplay {
   min-height: 200px;
   display: block;
   background-position: center;
   background-size: 100%;
   overflow: auto;
}

#patternContent {
   background-color: white;
   max-width: 430px;
   margin: auto;
   padding: 20px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   min-height: 50%;
   overflow: auto;
   border: 1px;
}

#patternList {
   list-style: none;
   margin: 0;
   padding: 0;
   padding-bottom: 5px;
   padding-top: 5px;
}

#patternList lh {
   font-size: 24px;
}

#patternList li {
   margin: 0;
   padding: 2px;
}

.imgThumb {
   max-width: 400px;
   padding-right: 15px;
}

#closeDisplay {
   float: right;
   width: 15px;
   height: 15px;
   cursor: pointer;
   font-family: "Verdana";
}

.openDisplay {
   cursor: pointer;
}