#search {
  height: 40px;
  font-size: 100%;
  background-color: white;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: lightgray;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  z-index: 3;
  transition: width 2s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: text;
}

#search:focus:hover {
  border-bottom: 1px solid #BBB;
}

#search:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
#submit {
  height: 100%;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;  
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity .4s ease;
}

#submit:hover {
  opacity: 0.8;
}

#arrows {
    cursor: pointer;
}